%section.section
  .section-header.d-mobile-none
    %h1 Dashboard
  
  .wrapper.container
    .container
      .row
        .col-xs-12.col-sm-4
          .box
            %h3 Branch Count: #{@branch_count}
        .col-xs-12.col-sm-4
          .box
            %h3 Member Count: #{@member_count}
        -# .col-xs-12.col-sm-4
        -#   .box
        -#     %h3 SMS Balance: 
        
